body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*table tbody tr td span {*/
/*    color: burlywood;*/
/*}*/
/*table tbody tr td template a span {*/
/*    color: burlywood;*/
/*}*/


#file_list {
    width: 100%;
    max-height: 400px;
    margin: 2px auto;
    border: 1px solid #ccc;
    overflow-y: auto;
}

#file_list li {
    list-style-type: none;
    padding: 5px;
    border-bottom: 1px solid #eee;
}

#footer {
    margin-bottom: 1em;
}

.toast {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*loading start*/

.loader {
    width: 288px;
    height: 288px;
    position: relative;
    /*position: relative;*/
    overflow: hidden;
}

.loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, green 10%, transparent 10.01%);
    animation: ripple 1s infinite;
}

@keyframes ripple {
    0% {
        transform: scale(0.1);
    }
    100% {
        transform: scale(5);
        opacity: 0;
    }
}
.modal-progress{
    display: none;
}
.model-loading{
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;

}
.base-loading{
    position: fixed;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

}

/*loading end*/
.drop-upload {
    /*border: 2px dashed #000;*/
    width: 100%;
    height: 100%;
    /*height: 100%;*/
}


textarea {
    width: 100%;
    height: 500px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-size: 16px;
}

textarea:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.2);
}

textarea::placeholder {
    color: #bbb;
}

.save {
    float: right;
    margin-bottom: 60px;
}
.edit-dialog {
    width: 80%;
}

/*!* Light Mode *!*/
/*@media (prefers-color-scheme: light) {*/
/*    body {*/
/*        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
/*    }*/
/*}*/

/*!* Dark Mode *!*/
/*@media (prefers-color-scheme: dark) {*/
/*    body {*/
/*        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";*/
/*        !*background-color: black;*!*/
/*        !*color: white;*!*/
/*    }*/
/*}*/

/* Not used */

div.dropzone {
    display: block;
    /*text-align: center;*/
    border: 2px dashed #666;
    border-radius: 5px;
    cursor: pointer;
    height: 74x;
    line-height: 70px;
    font-size: 20px;
    position: relative;
}

.qrcode-title {
    font-size: 0.8em;
}

.clearfix::after {
    clear: both;
}

#qrcodeCanvas {
    padding-right: 20px;
}



/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        background-color: black;
    }
    .markdown-body {
        color: whitesmoke;
    }
    .markdown-body pre {
        background-color: wheat;
    }
    .md-panel {
        background-color: black;
    }
    .panel-heading {
        background-color: black;
    }
    .form-input  {
        background-color: #111112;
    }
    /*头部背景色*/
    nav > div {
        background-color: #111112;
    }
    /*home的最后一个li颜色设置*/
    ol li:last-child {
        color: white; /* 红色 */
    }
    /*home的背景色*/
    .breadcrumb {
        background-color: #282623;
    }
    /*鼠标放上，行的颜色*/
    .table-hover > tbody > tr:hover {
        background-color: white;
    }
    /*鼠标放上，Name头标颜色*/
    .table-hover tbody tr:hover i {
        color: black; /* 例如：番茄色 */
    }
    /*鼠标放上，Name文字颜色*/
    .table-hover tbody tr:hover a {
        color: black; /* 例如：番茄色 */
    }

    /*头上一排按钮的图标颜色*/
    table thead tr td i {
        color: black;
        font-style: italic;
    }
    /*头Name Size ModTime Actions颜色*/
    table thead tr th {
        color: white;
    }
    /*name左边的头标颜色*/
    table tbody tr td i {
        color: burlywood;
        font-style: italic;
    }
    /*name文字的颜色*/
    table tbody tr td a {
        color: burlywood;
    }
    /*size ModTime的颜色*/
    table tbody tr td {
        color: burlywood;
    }
    .modal-bg {
        background-color: #262424;
    }
    /*如果你想要为具有特定类的 <div> 元素的直接子元素设置背景颜色，可以使用子选择器（子组合器 >）。以下是一个示例：*/
    .modal-body > * {
        background-color: #110f0f;
        color: white;
    }

    h4 span {
        color: white;
    }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }
}
